@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  --tw-bg-opacity: 1;
  background-color: rgb(241, 245, 249);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 10rem;
}

/* Circle 1 (Orange, Bottom Right) */
@media (min-width: 300px) {
  .circle1 {
    right: 0vw;
    bottom: 10vh;
    width: 50vw;
    max-width: 250px;
  }
}
@media (min-width: 600px) {
  .circle1 {
    right: 0vw;
    bottom: 10vh;
    width: 45vw;
    max-width: 300px;
  }
}
@media (min-width: 960px) {
  .circle1 {
    right: 0vw;
    bottom: 10vh;
    width: 40vw;
    max-width: 350px;
  }
}
@media (min-width: 1920px) {
  .circle1 {
    right: 0vw;
    bottom: 10vh;
    width: 35vw;
    max-width: 400px;
  }
}
@media (min-width: 3840px) {
  .circle1 {
    right: 0vw;
    bottom: 10vh;
    width: 30vw;
    max-width: 500px;
  }
}

/* Circle 2 (Blue, Bottom Center) */
@media (min-width: 300px) {
  .circle2 {
    right: 10vw;
    bottom: 30vh;
    width: 8vw;
    max-width: 100px;
  }
}
@media (min-width: 600px) {
  .circle2 {
    right: 10vw;
    bottom: 25vh;
    width: 10vw;
    max-width: 150px;
  }
}
@media (min-width: 960px) {
  .circle2 {
    right: 10vw;
    bottom: 20vh;
    width: 12vw;
    max-width: 200px;
  }
}
@media (min-width: 1920px) {
  .circle2 {
    right: 10vw;
    bottom: 18vh;
    width: 15vw;
    max-width: 250px;
  }
}
@media (min-width: 3840px) {
  .circle2 {
    right: 10vw;
    bottom: 15vh;
    width: 20vw;
    max-width: 300px;
  }
}

/* Circle 3 (Blue, Bottom Left) */
@media (min-width: 300px) {
  .circle3 {
    left: 0vw;
    bottom: 24vh;
    width: 13vw;
    max-width: 100px;
  }
}
@media (min-width: 600px) {
  .circle3 {
    left: 0vw;
    bottom: 20vh;
    width: 13vw;
    max-width: 150px;
  }
}
@media (min-width: 960px) {
  .circle3 {
    left: 0vw;
    bottom: 18vh;
    width: 13vw;
    max-width: 200px;
  }
}
@media (min-width: 1920px) {
  .circle3 {
    left: 0vw;
    bottom: 15vh;
    width: 13vw;
    max-width: 250px;
  }
}
@media (min-width: 3840px) {
  .circle3 {
    left: 0vw;
    bottom: 12vh;
    width: 13vw;
    max-width: 300px;
  }
}

/* Circle 4 (Orange, Top Left) */
@media (min-width: 300px) {
  .circle4 {
    left: 10vw;
    top: 10vh;
    width: 8vw;
    max-width: 100px;
  }
}
@media (min-width: 600px) {
  .circle4 {
    left: 8vw;
    top: 8vh;
    width: 10vw;
    max-width: 150px;
  }
}
@media (min-width: 960px) {
  .circle4 {
    left: 6vw;
    top: 6vh;
    width: 12vw;
    max-width: 200px;
  }
}
@media (min-width: 1920px) {
  .circle4 {
    left: 4vw;
    top: 4vh;
    width: 15vw;
    max-width: 250px;
  }
}
@media (min-width: 3840px) {
  .circle4 {
    left: 2vw;
    top: 2vh;
    width: 20vw;
    max-width: 300px;
  }
}
